
                html,body,header,footer,hgroup,nav,article,section.figure.figcaption,h1,h2,h3,ul,li,div,p,img

                /*Reset*/
                {
                    margin:0;
                    padding: 0;
                    vertical-align: baseline;
                    border: 0;
                }
                /*Shiriti*/
                .shiriti 
                {
                    margin: 0 0 0 0 ;
                    overflow: hidden;
                    background-color: rgb(21, 88, 133);
                }

                .shiriti a2
                {
                    float: left;
                    color: white;
                    text-align: left;
                    letter-spacing: normal;
                    padding: 1px;
                    font-size: 13px;
                }
                .shiriti a1
                {
                    margin-left: 1%;
                    float: left;
                    color: white;
                    text-align: left;
                    letter-spacing: normal;
                    padding: 1px;
                    font-size: 13px;
                }

                .shiriti a3 
                {
                    float: right;
                    color: white;
                    text-align: right;
                    letter-spacing: normal;
                    padding: 1px;
                    font-size: 13px;
                }
            .shiriti a4
                {
                    margin-right: 5px;
                    float: right;
                    color: white;
                    text-align: right;
                    letter-spacing: normal;
                    padding: 1px;
                    font-size: 13px;
                }
                
                /*Trupi*/
            body
                {
                    background-color: rgb(255, 248, 209);
                }
                /*Headeri*/
            header
                {
                    font-family: sans-serif;
                    margin: 2% 0 5% 1%;
                }
                #headline
                {
                    float: left;
                }
                #sites 
                {
                    float: right;
                    margin: 0 1% 0 0;
                }
                #sites ul li
                {
                    font-size: 18px;
                    padding: 0 0 0 70px;
                    list-style-type: none;
                    display: inline;
                }

                #sites ul li a:link
                {
                    color: black;
                    text-decoration: none;
                }
                #sites ul li a:hover

                {
                    color: blue;
                    border-bottom: 2px solid;
                    padding:0 0 10px 0;
                    border-color: blue;
                }
                
                /*Navigatori*/
                nav
                {   
                    margin: 3% 1% 0 1%;
                    padding: 20px 0 15px 0;
                    border-top: 1px solid;
                    border-bottom: 1px solid;
                }
                nav img
                {
                    margin: 0 0 0 5px;
                    padding: 0 0 0 0;
                    width:160px;
                    height:160px;
                }
                .navpictures
                {
                    width:28%;

                }
                #headline
                {
                    text-align: right;
                }
                
  
                /*Seksioni*/
                section
                {
                    float: left;
                    margin: 2% 0 0 1%;
                }
                section img
                {
                    width: 300px;
                    height: 200px;
                }
                
                
                #left
                {   
                    float:left;
                    width:32%;
                    overflow:hidden;   
                    padding: 0 20px 0 0;
                }
                 #left h2
                {
                    font-weight: bold;
                    width: 25em;;
                    padding: 0 0 3% 0;
                    border-bottom: 1px solid;
                }
                #left p
                {
                    margin: 3% 0 0 0;
                    height: 80px;
                    overflow: auto;
                }

                #right
                {
                    float:left;
                    width:32%;
                    overflow:auto;
                } 
                #right h2
                {
                    padding: 0 0 3% 0;
                    border-bottom: 1px solid;
                }
                #right p
                {
                    margin: 3% 0 0 0;
                    height: 80px;
                    overflow: auto;
                }
                               /*ARTIKULLI*/
               #article
               {
                   padding: 20% 0 4% 0;
                   color: red;
                   width: 65%;
               }
               #article h2
               {
                   padding: 0 0 0.6em 0;
                   border-bottom: 1px solid;
               }
               #article p 
               {
                   padding: 0.6em 0 0 0;
               }
              

                
                
                /*Ana e gjathte*/
                
                aside
                {
                    position: absolute;
                    float: right;
                    margin: 2% 0 0 68.8%;
                    width: 30%;

                    
                }
                aside h2
                {
                    border-bottom: 1px solid;
                    padding: 0 0 3% 0;
                }
                aside img
                {
                    padding: 4px;
                    border: 1px solid;
                    height: 80px;
                    width: 80px;
                }
                
                /*E PARA*/
                
                #news1
                {   
                    margin: 3% 0 0 0;
                    padding: 0 0 3% 0;
                    border-bottom: 1px solid;
                }
                
                #news1 p
                {
                    width: 400px;
                    height: 70px;
                    overflow: auto;
                }
                #news1 img
                {
                    margin: 0 10px 0 0;
                    float:left;
                }
                #news1 input
                {
                    margin: 5px 0 0 0;
                    float: right;
                }
 
                aside a
                {
                    text-decoration: none;
                    text-align: center;
                    background-color: blue;
                    color: white;
                    float: right;
                    width:200px;
                    height:25px;
                }
                aside a:hover
                {
                    background-color: red;
                }

                /*E DYTA*/
                #news2
                {   
                    margin: 3% 0 0 0;
                    padding: 0 0 3% 0;
                    border-bottom: 1px solid;
                }
                #news2 p
                {
                    width: 400px;
                    height: 70px;
                    overflow: auto;
                }
                #news2 img
                {
                    margin: 0 10px 0 0;
                    float:left;
                }

                /*E TRETA*/
                #news3
                {   
                    margin: 3% 0 0 0;
                    padding: 0 0 3% 0;
                    border-bottom: 1px solid;
                }
                
                #news3 p
                {
                    width: 400px;
                    height: 70px;
                    overflow: auto;
                }
                #news3 img
                {
                    margin: 0 10px 0 0;
                    float:left;
                }

                /*E KATERTA*/
                
                #news4
                {   
                    margin: 3% 0 0 0;
                    padding: 0 0 3% 0;
                    border-bottom: 1px solid;
                }
                
                #news4 p
                {
                    width: 400px;
                    height: 70px;
                    overflow: auto;
                }
                #news4 img
                {
                    margin: 0 10px 0 0;
                    float:left;
                }
 
                .newsheadline
                {
                    font-weight: bold;
                }
                
                


              /*Footeri*/
              
               footer
               {
                   position: static;
                   margin: 39em 0 0 0;
               }
                #footer
                {
                    bottom: 20px;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    background-color: rgb(224, 203, 162);
                }
                #footer h3
                {
                    margin: 15px 0 0 0;
                    border-bottom: 1px solid grey;
                    font-family: 'Times New Roman', Times, serif;
                    color: grey;
                }
                #footer p
                {
                    padding: 0.3px;
                    letter-spacing: normal;
                    margin-left: 5px;
                }
                .bottom
                {
                    padding: 0 0 4px 0;
                    background: grey;
                }